<h1>Update a Song</h1>

<form action="/songs" method="POST">
  <label>Name:</label>

  <br></br>

  <input type="text" name="song[name]" id="song_name" name="<%=@song.name%>">

  <br></br>

  <label>Update the artist:</label>
  <label>Artist Name:</label>
  <br></br>
  <input type="text" name="owner[name]" id="owner_name"></input>
  <br></br>
  <input type="submit" value="Update Pet">
</form>
