<h1>Create New Song</h1>
<form method="POST" action="/songs">
  <input type="text" id="Name" name="Name" value="Name"/>
  <input type="checkbox" />
<%binding.pry%>
  <%@genres.each do |genre|%>
    <input type="checkbox" name="genre" value="<%=genre.id%>" id="<%=genre.id%>"><%=genre.name%></input>
  <%end%>
  <input type="submit" value="Submit"/>
</form>
