<h1>Create New Song</h1>
<form method="POST" action="/songs">
  <input type="text" id="name" name="name" />

  <%@genres.each do |genre|%>
    <input type="checkbox" name="genre_name" value="<%=genre.id%>" id="<%=genre.id%>"><%=genre.name%></input>
  <%end%>

  <input type="submit" value="Submit"/>
</form>
